
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 nav{
    display: flex;
    justify-content: space-around;
    margin:0px 150px 0px 150px ;
    width: 1140px ;
    height: 151px;
 }
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
.banner-head-box{
    text-align: center;
}
.banner-btn{
    text-align: center;
}
.head{
   max-width: 1440px;
   height: 698px;
   
   background-image:url('../B12A01-landing-launchpad/Assets/Hero-bg.png');
   
}
.banner{
    width: 905px;
    height: 237px;
    margin: 158px 267.5px 152px 267.5px ;
}
.banner-heading{
    font-size: 65px;
    font-weight: bold;
}
.action {
    margin:116px 159px 116px 141px ;
    width: 1140px ;
    height: 328px;
}

.action-box1{
    width: 517px;
    height: 203px;
    margin: 62.5px 220px 62.5px 0px ;

}
.action-box2{
    width: 403px;
    height: 328px;
    border-radius: 48px;
    background-image: url('../B12A01-landing-launchpad/Assets/wc-big.png');
}
.action-box{
    display: flex;
}
